#time {
	text-align: center;
	font-size: 15em;
	margin-top: 10vh;
	font-family: VT323;
}

#bellDiv {
	text-align: center;
}

#bellImg {
	height: 300px;
	width: 300px;
	left: 10px;
	top: 0px;
}

.button-bottom{
	margin-right: 5vh; 
	padding: 10px; 
	border-radius: 10%; 
	background-color: #FFF6F6;
	width: 8vh;
	height: 8vh;
}
